*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(101, 137, 168);
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}
.container {
  border: 5px solid blue;
  padding: 1.5em;
}

.heading-text,
.no-qr-yet {
  font-size: calc(0.6em * 2);
  word-spacing: 5px;
  text-align: center;
  color: white;
  margin-bottom: 1em;
}
.generate {
  letter-spacing: 5px;
}
small {
  position: relative;
}
.entity-arrow-down {
  position: absolute;
  color: green;
  font-size: 1.7em;
  margin-left: 0.5em;
  animation: move 1s infinite ease-in-out;
}

/*Email-Form */
.url-input {
  margin-top: 2em;
}
.input-group {
  position: relative;
  margin-top: 2em;
}
.select-group {
  margin: 1em 0;
}

.input-group label {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 15px;
  color: white;
  font-size: 1rem;
  font-style: oblique;
  pointer-events: none;
  padding: 0 5px;
  transition: 0.5s;
}

.input-group input:focus ~ label {
  top: 0;
  background-color: rgb(101, 137, 168);
}

input,
select {
  width: 100%;
  min-height: 50px;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  background: transparent;
  border: 1px solid black;
}

::placeholder {
  font-size: 1.3em;
  color: rgb(156, 147, 134);
}

.submit {
  width: 100%;
  background: green;
  padding: 10px 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.qrcode {
  border: 2px groove black;
  min-height: 200px;
}

.rotate {
  position: relative;
}
.no-qr-yet {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  animation: rotate 2s infinite ease-out;
}
.scanner {
  position: relative;
  perspective: 240px;
  justify-items: center;
}
.scan-me {
  font-style: oblique;
  font-family: 'Courier New', Courier, monospace;
  animation: trans 0.4s infinite ease-in-out alternate;
}

@keyframes trans {
  from {
    transform: translateZ(-10px);
    color: yellow;
  }
  to {
    transform: translateZ(10px);
    color: blue;
  }
}

@keyframes rotate {
  to {
    transform: rotateY(360deg);
  }
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

/* media query */
@media (min-width: 900px) {
  .flex-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  .qrcode {
    width: 300px;
  }
}
