*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: #9fa65a;
  --color: #2963a2;
}
body {
  background: var(--bg);
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  color: var(--color);
}

img {
  max-width: 100%;
}
.container {
  padding: 1.5em;
  min-height: fit-content;
}

.heading-text,
.no-qr-yet {
  font-size: calc(0.6em * 2);
  word-spacing: 5px;
  text-align: center;
  margin-bottom: 1em;
}
strong {
  font-size: 3rem;
}

.generate {
  text-align: center;
  letter-spacing: 5px;
}

small {
  position: relative;
}
.entity-arrow-down {
  position: absolute;
  font-size: 1.7em;
  margin-left: 0.5em;
  animation: move 1s infinite ease-in-out;
}

/*Email-Form */
.url-input {
  margin-top: 2em;
}
.input-group {
  position: relative;
  margin-top: 2em;
}
.select-group {
  margin: 1em 0;
}

.input-group label {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 15px;
  font-size: 1rem;
  font-style: oblique;
  color: var(--color);
  pointer-events: none;
  padding: 0 5px;
  transition: 0.5s;
}

.input-group input:focus ~ label {
  top: 0;
  background: var(--bg);
}

input,
select {
  width: 100%;
  min-height: 50px;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  background: transparent;
  border: 1px solid var(--color);
  color: var(--color);
}

.submit {
  width: 100%;
  background: var(--color);
  color: white;
  padding: 10px 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.qrcode {
  min-height: 200px;
}
.scanner {
  text-align: center;
}
.rotate {
  position: relative;
}
.no-qr-yet {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  animation: rotate 2s infinite ease-out;
}
.scanner {
  justify-items: center;
}

@keyframes rotate {
  to {
    transform: rotateY(360deg);
  }
}

@keyframes move {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(5px);
  }
}

/* media query */
@media (min-width: 900px) {
  .flex-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  .qrcode {
    width: 300px;
  }

  .url-input {
    width: 45%;
  }
  .submit {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
